{:ox-edn
 {:repository "https://github.com/0WD0/ox-edn.git"
  :commit "5fd1edf7a46f518e5563d81dd8b76f166487a7b7"}
 :loam
 {:repository "https://github.com/0WD0/loam.git"
  :commit "2ee46eb63f9633096dfaa6bff102f62a3997bde8"}}
